
  @import url('https://fonts.googleapis.com/css2?family=Courgette&family=Russo+One&family=Satisfy&display=swap');



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



.background{
 
  
}
.home{
  color:blue;
  margin-left:950px;
  font-size:20px;
  word-spacing:15px;
  position: fixed;
  margin-top: -30px;

}
.home a{
  text-decoration: none;
  position:relative;
 
}
.home a:hover{
  background-color: #452+6;
  color:#f3860a;
  text-decoration: underline;
}
 .logo{
  mix-blend-mode: multiply;
  filter:contrast(2);
  margin-left: -60px;
  
 }
 .lord{
  mix-blend-mode: multiply;
 margin-left: 600px;
 margin-top:-170px;
 filter:contrast(2)
 }
 .logoname{
  text-align: center;
  display: block;
  margin-top: 80px;
  font-size:140px;
 }
 .logoname h3{
  font-family: 'Courgette', cursive;
  color: #db8d34;
  text-shadow: 1px 1px 8px rgba(130, 218, 30, 0.8);

 }
 .logoname p{
  font-size: 40px;
  margin-left:600px;
  font-family: 'Satisfy', cursive;
  margin-top: -20px;
 }
 
 .logo-description {
  font-size:28px;
  margin-top: 20px;
  text-transform:uppercase;
  color: #5c95eb;
 }

 .deal{
  font-size: 30px;
  margin-left: -20px;
 }

 * {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  margin-top:50px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right:500px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: hsl(54, 90%, 49%);
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  margin-left:176px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f3860a;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* --- links of side bar */
/* Dropdown Button */
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 23px;
  border-style:groove;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  margin-left:;
  
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  
 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background:linear-gradient(white,rgb(90, 90, 196));
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  font-size: 25px;
  word-spacing: 0;
  text-transform: capitalize;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #141403;
  padding: 12px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

section {
  float:right;
  margin-right:-20px;
  margin-top: -260px;
  word-spacing:20px;
}

.heading{
  text-align: center;
  margin-top: 100px;
  font-size: 40px;
  font-family: geneva;
  font-weight: 200;
  border-style: groove;
  border-radius: 20px;
  border-color: green;
 margin-left: 430px;
 margin-right: 430px;
 background-color: yellow;

}

.cab-background{
  margin-top: 50px;
  background-image: url(cab.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height:500px;
  
}

.content{
  text-align: center;
  margin-top:60px;
  text-transform: capitalize;
  color: #ddd;
  padding-top:30px
}
.content h4{
  font-size: 60px;
}
.content h4:hover{
 color:rgb(216, 145, 13)
}
.content p{
  font-size: 25px;
  font-weight:20;
}
.content h3{
  font-size:60px;
  color:rgb(216, 145, 13)
}
.button{
  border-color: 10px solid #e01c1c;
  border-radius: 20px;
  padding: 10px;
  font-size: 25px;
  color:rgb(252, 244, 244);
  background-color: rgb(192, 46, 46);
}


/* advantages*/

.advantage{
  background-color: black;
  width: 100%;
  height: 600px;
  margin-top: 100px;
  color: white;
 
}
.advantage-heading{
  font-size: 30px;
  text-align: center;
  padding-top:80px;
}
.advantage-content{
  display:inline-flex;
  text-align: center;
  margin-top: 100px;
  margin-left: 80px;
}
.subcontent{
  display: inline-flexbox; 
 width: 300px;

}
.subcontent h3{
  text-transform: capitalize;
  font-size: 30px;
}
.subcontent p{
  font-size:16px;
  font-family:georgia;
  padding-top: 20px;
}
legend{
  margin: 0 auto;
 font-size:70px;

}
fieldset{
  border: 2px solid rgb(30, 32, 30);
  width:250px;
  height:300px;
  padding-top:20px;
  padding-right: 30px;
  padding-left: 30px;
}

i {
 
  border-radius:50%;
  border: 1px solid grey;
  padding:20px;
  color: #db8d34;
}

.blog1{
  padding-top: 100px;
}
.blogname{
  text-align: center;
  font-size: 30px;
}
.blog-img{
  float: left;
 padding-left: 30px;
 padding-top: 60px;
}
.blog-details{
  display: flex;
  align-items: center;
  justify-content: center
}
.blog-content{
  padding:20px 30px;
  padding-top:60px;
}
.blog-content p{
  font-size:25px;
  padding-top: 30px;
  font-family:'Times New Roman';
  filter:opacity(60%);
}
.blog-content h3{
  font-size:30px;
  font-family: serif;
 
}


/*---testimonials---*/

@import url("https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

button,
input,
select {
	font-family: inherit;
	font-size: 100%;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 12px;
}

body {
	color: #000;
	font-family: "Shippori Antique", sans-serif;
	height: 100vh;
	display: grid;
	place-items: center;
}

.content-wrapper {
	height: 100%;
	width: 70%;
	max-width: 100rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 5rem;
  padding-top: 100px;
}

h1 {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(2.3rem + 1vmin);
}

.blue-line {
	height: 0.3rem;
	width: 6rem;
	background-color: rgb(79, 143, 226);
	margin-bottom: calc(3rem + 2vmin);
}

.wrapper-for-arrows {
	position: relative;
	width: 70%;
	border-radius: 2rem;
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	overflow: hidden;
	display: grid;
	place-items: center;
}

.review-wrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: calc(2rem + 1vmin);
	width: 100%;
}

#imgDiv {
	border-radius: 50%;
	width: calc(6rem + 4vmin);
	height: calc(6rem + 4vmin);
	position: relative;
	box-shadow: 5px -3px rgb(79, 143, 226);
	background-size: cover;
	margin-bottom: calc(0.7rem + 0.5vmin);
}

.chicken {
	background-image: url("https://media0.giphy.com/media/A8Cdznswn5vnG/200w.gif?cid=790b7611e8c5980ee7141bc18ec12c49962b871eb404ba5b&rid=200w.gif&ct=s");
	width: 200px;
	height: 250px;
	position: absolute;
	top: 12%;
}

#imgDiv::after {
	content: "''";
	font-size: calc(2rem + 2vmin);
	font-family: sans-serif;
	line-height: 150%;
	color: #fff;
	display: grid;
	place-items: center;
	border-radius: 50%;
	background-color: rgb(79, 143, 226);
	position: absolute;
	top: 10%;
	left: -10%;
	width: calc(2rem + 2vmin);
	height: calc(2rem + 2vmin);
}

#personName {
	margin-bottom: calc(0.7rem + 0.5vmin);
	font-size: calc(1rem + 0.5vmin);
	letter-spacing: calc(0.1rem + 0.1vmin);
	font-weight: bold;
}

#profession {
	font-size: calc(0.8rem + 0.3vmin);
	margin-bottom: calc(0.7rem + 0.5vmin);
	color: rgb(79, 143, 226);
}

#description {
	font-size: calc(0.8rem + 0.3vmin);
	width: 70%;
	max-width: 40rem;
	text-align: center;
	margin-bottom: calc(1.4rem + 1vmin);
	color: rgb(92, 92, 92);
	line-height: 2rem;
}

.arrow-wrap {
	position: absolute;
	top: 50%;
}

.arrow {
	width: calc(1.4rem + 0.6vmin);
	height: calc(1.4rem + 0.6vmin);
	border: solid rgb(79, 143, 226);
	border-width: 0 calc(0.5rem + 0.2vmin) calc(0.5rem + 0.2vmin) 0;
	cursor: pointer;
	transition: transform 0.3s;
}

.arrow:hover {
	transition: 0.3s;
	transform: scale(1.15);
}

.left-arrow-wrap {
	left: 5%;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.right-arrow-wrap {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	right: 5%;
}

.surprise-me-btn {
	border: 2px solid rgb(79, 143, 226);
	background-color: rgb(224, 238, 255);
	color: rgb(79, 143, 226);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(7rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.surprise-me-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

.move-head {
	animation: moveHead 1.55s infinite;
	animation-delay: -0.8s;
}

.hide-chicken-btn {
	border: 2px solid rgb(226, 89, 79);
	background-color: rgb(255, 224, 224);
	color: rgb(226, 79, 79);
	border-radius: 2rem;
	padding: calc(0.5rem + 0.2vmin) 0;
	width: calc(10rem + 5vmin);
	text-align: center;
	transition: background-color 0.3s, transform 0.3s;
	cursor: pointer;
	margin-bottom: calc(1.4rem + 1vmin);
}

.hide-chicken-btn:hover {
	transition: background-color 0.3s, transform 0.3s;
	background-color: rgb(255, 255, 255);
	transform: rotate(5deg);
}

@keyframes moveHead {
	0% {
	}
	25% {
		transform: translate(0.5rem, 1rem) rotate(5deg);
	}
	100% {
		transform: translate(0, 0) rotate(-5deg);
	}
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		width: 100%;
	}
}

/* scrolling button  */


#myBtn{
  margin-left: 90%;
}
#myBtn i{
  color: #e01c1c;
  font-size: 40px;
 
}

#myBtn:hover {
  background-color: #73fa9b;
}




